.fnt_fmly_cursive{
    font-family : cursive, sans-serif
}
.shadow_div_sherch{
    -webkit-box-shadow: -2px 2px 44px 19px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 2px 44px 19px rgba(0,0,0,0.75);
    box-shadow: -2px 2px 44px 19px rgba(0,0,0,0.75);
}
.nav_header{
    position: sticky;top: 0;z-index: 1071;
}
.button_add_vol{
    font-family: cursive, sans-serif;
    background-color: #ff9f43;
    border: none;
    -webkit-box-shadow: 0px 0px 51px -4px rgba(255,159,67,1);
    -moz-box-shadow: 0px 0px 51px -4px rgba(255,159,67,1);
    box-shadow: 0px 0px 51px -4px rgba(255,159,67,1);
}
.button_add_vol:hover{
    background-color: #e67e22;
    
}